@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background: #ffffff;
}

.modal {
    position: fixed;
    top: -90px;
    left: 75%;
    z-index: 9999;
  }
  
  .modal-box {
    padding: 20px;
    border-radius: 10px;
  }
  